<footer class="gp-footer">
    <section class="section-1">
        <div class="section-container">
            <div class="description">
                <h3>GP-Tracker</h3>
                <p>
                   GP-Tracker est un site conçu et pensé dans le but d'assister et de faciliter le réseau de Gratuite partielle partout dans le monde. 
                   Il a été créé par des membres de la diaspora en réponse à leur propre expérience.
                </p>
            </div>
            <div class="quick-menu">
                <h3>Menu Rapide</h3>
                <ul class="gp-footer-nav-1">
                    <li>
                        <a href="{{ path('app_home') }}">Acceuil</a>
                    </li>
                    <li>
                        <a href="{{ path('app_rooms') }}">Liste GP</a>
                    </li>
                    <li>
                        <a href="{{ path('app_informations') }}">Mon compte</a>
                    </li>
                    <li>
                        <a href=" {{ path('app_contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="about">
                <h3>À propos</h3>
                <ul class="gp-footer-nav-2">
                    <li>
                        <a href="{{ path('app_about_us') }}">Qui sommes-nous ?</a>
                    </li>
                    <li>
                        <a href="{{ path('app_terms_conditions') }}">Conditions générales d'utilisations</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section-2">
        <p>&copy; {{ "now"|date("Y") }} - All Rights Reserved By GP Tracker</p>
    </section>
</footer>