{% set sliceMax = 8 %}
{% set now = "now"|date("Y-m-d", "UTC") %}


{% for room in rooms %}
    {% set departureDate = room.departureDate|date("d-m-Y") %}
    <div class="room">
        <h4>{{ room.name|default('gp tracker')|upper }}</h4>
        <div class="trip">
            <div class="trip-list">
                <div class="departure-arrival">
                    <span class="location">
                        {{ room.departureLocation.name|default('')|slice(0, sliceMax) ~ (room.departureLocation.name|length > sliceMax ? '...' : '') }}
                    </span>
                    <span class="scheme" >
                        <span class="dot dot-1"></span>
                        <span class="dot dot-2"></span>
                        <i class="fa-solid fa-plane"></i>
                    </span>
                    <span class="location">
                        {{ room.arrivalLocation.name|default('')|slice(0, sliceMax) ~ (room.arrivalLocation.name|length > sliceMax ? '...' : '') }}
                    </span>
                </div>
                <div class="date">{{ room.departureDate|date("d-m-Y")|default('-') }}</div> 
            </div>
            <div class="price-details">
                
                <div class="price">
                    {% if room.unitPrice is not null %}
                        {{room.unitPrice|number_format(0, '.', ',') ~ ' ' ~ room.currency.symbol }} /kg
                    {% else %}
                        NA
                    {% endif %}
                </div>
                <a href="{{ path('app_room_detail', {'slug': room.slug}) }}" class="see-details">Voir détails</a>
            </div>
        </div>
        {% if departureDate >= now  %}
            <div class="weight">
                <span class="description">Poids disponible</span>
                <span class="divider"></span>
                {% if room.weight is not null %}
                    <span class="price">{{ room.weight }} kg</span>
                {% else %}
                    <span class="price">NA</span>
                {% endif %}
            </div>
        {% else %}
            <div class="weight">
                <span class="price" style="color:red!important;font-size: 14px!important;">Fermé</span>
            </div>
        {% endif %}
    </div>  
{% endfor %}