{% set currencySymbols = {
    'EUR': '€',
    'AED': 'Dhs',
    'XOF': 'F',
    'USD': '$',
} %}
{% for room in rooms %}
    <div class="room">
        <h4>{{ room.name|default('gp tracker') }}</h4>
        <div class="trip">
            <div class="trip-list">
                <div class="departure-arrival">
                    <span class="departure">{{ room.departureLocation.name|default('') }}</span>
                    <span class="scheme" >
                        <span class="dot dot-1"></span>
                        <span class="dot dot-2"></span>
                        <i class="fa-solid fa-plane"></i>
                    </span>
                    <span class="arrival">{{ room.arrivalLocation.name|default('-') }}</span>
                </div>
                <div class="date">{{ room.departureDate|date("d-m-Y")|default('-') }}</div> 
            </div>
            <div class="price-details">
                
                <div class="price">
                    {% if currencySymbols[room.currency] is defined %}
                        {{ currencySymbols[room.currency] ~ ' ' ~ room.unitPrice|number_format(0, '.', ',') }} /kg
                    {% endif %}
                </div>
                <a href="{{ path('app_room_detail', {'slug': room.slug}) }}" class="see-details">Voir détails</a>
            </div>
        </div>
        <div class="weight">
            <span class="description">Poids disponible</span>
            <span class="divider"></span>
            <span class="price">{{ room.weight|default('-') }} kg</span>
        </div>
    </div>  
{% endfor %}