{% extends 'gp-tracker/base.html.twig' %}
{% block title %}
   Information 
{% endblock %}

{% block body %}
<main>
    <div class="container gp-informations">
        <section class="nav-content">
            <div class="nav">
                <ul class="main-nav">
                    <li class="{{ app.request.attributes.get('_route') == 'app_informations_user' ? 'active' : '' }}">
                       <a href="{{ path('app_informations_user') }}">
                             <i class="fa-solid fa-user"></i>
                            <span>Votre compte GP-Tracker</span>
                       </a>
                    </li>
                    {# <li>
                        <a href="/informations/empty-message">
                            <i class="fa-solid fa-envelope"></i>
                            <span>Boîte de reception</span>
                        </a>
                    </li> #}
                    <li class="{{ app.request.attributes.get('_route') == 'app_user_package' ? 'active' : '' }}">
                       <a href="{{ path('app_user_package') }}">
                             <i class="fa-solid fa-box"></i>
                            <span>Mes annonces GP</span>
                       </a>
                    </li>
                    {# <li>
                        <a href="/informations/empty-order">
                            <i class="fa-solid fa-truck-fast"></i>
                            <span>Mes commandes</span>
                        </a>
                    </li> #}
                    <li class="{{ app.request.attributes.get('_route') == 'app_user_room_visited' ? 'active' : '' }}">
                        <a href="{{ path('app_user_room_visited')}}">
                            <i class="fa-regular fa-clock-rotate-left"></i>
                            <span>Vus Récemment</span>
                        </a>
                    </li>
                </ul>
                <ul class="params">
                    <li class="{{ app.request.attributes.get('_route') == 'app_adresse' ? 'active' : '' }}">
                        <a href="{{ path('app_adresse') }}">Adresses</a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') == 'app_settings' ? 'active' : '' }}">
                        <a href="{{ path('app_settings') }}">Paramatère du compte</a>
                    </li>
                </ul>
                <form action="{{ logout_path('main') }}" method="POST">
                    <button type="submit">Deconnexion</button>
                </form>
            </div>
            <div class="content">
               <div class="header">
                   <h2 class="title">
                        <a  href="{{ path('app_informations') }}">
                            <i class="fa fa-arrow-left back-arrow " aria-hidden="true"></i>
                        </a>
                        {% block  subtitle %} {% endblock %}
                   </h2>
               </div>
                {% block content %} {% endblock %}
            </div>
        </section>
    </div>
</main>
{% endblock %}