{% set headerFooterExcluded = [
    'app_login',
    'app_register',
    'non_verified_user_page',
    'app_forgot_password_request',
    'app_check_email',
    'app_reset_password'
    ]
%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>
        {% block title %}
            GP-Tracker : Faciliter et Soutenir le Réseau Mondial de Gratuite Partielle (GP)
        {% endblock %}
        </title>
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('theme/assets/img/favicon/favicon-1.png') }}">
        <meta name="author" content="GP-Tracker">
        {% block metatags %}
            
        {% endblock %}
        <meta property="og:url" content="{{ app.request.uri }}">
        <meta name="twitter:image" content="{{ absolute_url(asset('/theme/assets/img/image-link.jpeg')) }}"/>
        <meta property="og:image" content="{{ absolute_url(asset('/theme/assets/img/image-link.jpg')) }}"/>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {# {% include 'gp-tracker/layout/_stylesheet.html.twig' %} #}
        {% endblock %}
        

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% include 'gp-tracker/layout/_script.html.twig'%}
        {% endblock %}
    </head>
    <body >
        <div class="wrapper">
            {% if app.request.attributes.get('_route') not in headerFooterExcluded %}
                {% include 'gp-tracker/layout/_header.html.twig' %}
            {% endif %}

            {% block body %}{% endblock %}

            {% if app.request.attributes.get('_route') not in headerFooterExcluded %}
                {% include 'gp-tracker/layout/_footer.html.twig' %}
            {% endif %}
        </div>
    </body>
</html>