<div>
    <p>
        <strong>Firstname : </strong>
        <span>{{firstname}}</span>
    </p>
    <p>
        <strong>Lastname : </strong>
        <span>{{lastname}}</span>
    </p>
    <p>
        <strong>Email : </strong>
        <span>{{userEmail}}</span>
    </p>
</div>
<div>
    <h3>{{subject}}</h3>
    <p>{{message}}</p>
</div>