{% extends 'gp-tracker/core/informations/informations.html.twig' %}

{% block  subtitle %} 
    Parametre de compte
{% endblock %}

{% block content %}
{% form_theme changePasswordForm 'gp-tracker/form/profile_completion_form.html.twig' %} 
{{ form_start(changePasswordForm, {'attr': {'id': 'settings-informations', 'class': 'form-info'}}) }}
    <div class="profile">
        <div class="profile-header">
            <h2 class="title">Mot de passe</h2>
        </div>
    </div>
    <div class="information">
        <div class="body">
            <div class="form-group">
                <div class="input-container">
                   {{ form_row(changePasswordForm.currentPassword, {
                        help: false,
                        'id': 'old-pwd',
                        'attr': {
                            'class': 'old-pwd',
                            'placeholder': 'Entrez votre mot de passe actuel'
                        }
                    }) }}
                </div>
                <div class="input-container">
                    {{ form_row(changePasswordForm.newPassword.first, {
                        help: false,
                        'id': 'new-pwd',
                        'attr': {
                            'class': 'new-pwd'
                        }
                    }) }}
                </div>
            </div>
            <div class="form-group">
                <div class="input-container">
                    {{ form_row(changePasswordForm.newPassword.second, {
                        help: false,
                        'id': 'confirm-pwd',
                        'attr': {
                            'class': 'confirm-pwd'
                        }
                    }) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_row(changePasswordForm._token) }}
    <button class="submit">Enregistrer la modification</button>
{{ form_end(changePasswordForm, {'render_rest': false}) }}
{# <form id="delete-account">
    <button >Supprimer mon compte</button>
</form> #}
{% endblock %}