{% extends 'gp-tracker/base.html.twig' %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <div class="gp-register-container">
        <div class="header">
            <div class="auth-return-home">
                <a href="{{ path('app_home') }}">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>
            </div>
            <img src="{{asset('theme/assets/img/logo/gp-tracker-logo-1.png')}}" alt="Logo Gp-tracker" class="logo">
            <h1>Creer votre compte</h1>
            <p>Pour assurer la securité de votre compte, nous vous suggérons d’ajouter un mot de passe fort</p>
        </div>
        <div class="body">
            {# <form action="#" method="post">
                <div>
                    <input type="email" name="email" id="gp-register-email" placeholder="Entrez un Email valide" >
                    <a href="#">modifier</a>
                </div>
                <div>
                    <input type="text" name="username" id="gp-register-username" placeholder="Entrez votre nom d'utilisateur">
                </div>
                <input type="password" name="password" id="gp-register-pwd" placeholder="Entrez votre Mot de passe">
                <input type="password" name="password-confirm" id="gp-register-pwd-confirm" placeholder="Confirmez le mot de passe">
                <button type="submit">S'inscrire</button>
                <p class="login-register-redirect">
                    <span>Déjà inscrit ?</span>
                    <a href="/login">Connectez-vous !</a>
                </p>
            </form> #}
            {% form_theme registrationForm 'gp-tracker/form/loginForm.html.twig' %}
            
            {{ form_start(registrationForm)}}
                
                {{ form_row(registrationForm.email, {
                    id: 'gp-register-email',
                    attr: { placeholder: "Entrez un Email valide" }
                }) }}
                {{ form_row(registrationForm.username, {
                    id: 'gp-register-username',
                    attr: { placeholder: "Entrez votre nom d'utilisateur" }
                }) }}
                {{ form_row(registrationForm.password, {
                    id: 'gp-register-pwd',
                    attr: { placeholder: 'Enter your Password'}
                }) }}
                <div class="agree-terms">
                    {{ form_errors(registrationForm.agreeTerms) }}
                    <div>
                        {{ form_row(registrationForm.agreeTerms, {
                        errors: false
                        }) }}
                        <span><a href="{{ path('app_terms_conditions')}} " target="_blank">Conditions générales d'utilisation</a></span>
                    </div>
                </div>
                {{ form_row(registrationForm._token) }}
                <button type="submit">S'inscrire</button>
                <p class="login-register-redirect">
                    <span>Déjà inscrit ?</span>
                    <a href="{{ path('app_login') }}">Connectez-vous !</a>
                </p>
            {{ form_end(registrationForm) }}
      
    </div>
{% endblock %}