{% extends 'gp-tracker/base.html.twig' %}

{% block title %}
   {{ roomName }}
{% endblock %}

{% block body %}
<main>
    <div class="container gp-room-detail">
       <div class="page-root">
            <a href="#" class="rooms">Salons</a>
            <span>></span>
            <a href="#" class="room-title">{{ room.name|default('') }}</a>
       </div>
       <div class="content">
            <section class="section-1">
                <div class="informations">
                    <h2>Détails</h2>
                    {% if app.user == room.user or is_granted('ROLE_ADMIN') %}
                        <div class="dropdown">
                            <button id="dropdown-btn" class="dropdown-btn">
                                <i class="fa-solid fa-ellipsis-v"></i>
                            </button>
                            <div class="dropdown-content">
                                <a class="edit-btn" id="btn-edit" href="{{ path('app_room_update', {'slug': room.slug}) }}">Modifier</a>
                                <button class="del-btn" id="btn-delete">Supprimer</button>
                            </div>
                        </div>
                        <div class="confirmation-modal hidden" id="confirmationModal">
                            <div class="modal-content">
                                <h2>Confirmer la suppression</h2>
                                <p>Voulez-vous vraiment supprimer votre salon ?</p>
                                <div class="modal-buttons">
                                    <form action="{{ url('app_room_delete', { slug: room.slug }) }}" method="POST">
                                        <input type="hidden" name="token" value="{{ csrf_token('delete-room') }}">
                                        <button id="confirmDelete" class="confirm-deletion">Oui</button>
                                    </form>
                                    <button id="cancelDelete" class="cancel-deletion">Non</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="details">
                        <div>
                            <span class="icons">
                                <i class="fa-solid fa-plane-departure"></i>
                            </span>
                            <span>
                                <h3>Zone de depart</h3>
                                <p>{{ room.departureLocation.name|default('-') }}</p>
                            </span>
                        </div>
                        <div>
                            <span class="icons">
                                <i class="fa-solid fa-plane-arrival"></i>
                            </span>
                            <span>
                                <h3>Zone d’arrivée</h3>
                                <p>{{ room.arrivalLocation.name|default('-') }}</p>
                            </span>
                        </div>
                        <div>
                            <span class="icons">
                                <i class="fa-solid fa-truck-plane"></i>
                            </span>
                            <span>
                                <h3>Type de transports</h3>
                                <p>{{ room.conveyance.name|default('-') }}</p>
                            </span>
                        </div>
                        <div>
                            <span class="icons">
                                <i class="fa-solid fa-calendar-days"></i>
                            </span>
                            <span>
                                <h3>Date de départ</h3>
                                <p>{{ room.departureDate|date('d/m/Y')|default('-') }}</p>
                            </span>
                        </div>
                        <div>
                            <span class="icons">
                                <i class="fa-solid fa-calendar-days"></i>
                            </span>
                            <span>
                                <h3>Date d'arrivéé</h3>
                                <p>{{ room.arrivalDate|date('d/m/Y')|default('-') }}</p>
                            </span>
                        </div>
                        <div>
                            <span class="icons">
                                <i class="fa-solid fa-hand-holding-dollar"></i>
                            </span>
                            <span>
                                <h3>Prix</h3>
                                <p>{{ room.unitPrice|default('-') ~ ' ' ~ room.currency.symbol|default('') }}</p>
                            </span>
                        </div>
                        <div>
                            <span class="icons">
                                <i class="fa-solid fa-weight-scale"></i>
                            </span>
                            <span>
                                <h3>Espace disponible</h3>
                                <p>{{ room.weight|default('-') }} Kg</p>
                            </span>
                        </div>
                        <div>
                            <span class="icons">
                                <i class="fa-solid fa-map-pin"></i>
                            </span>
                            <span>
                                <h3>Téléphone 1</h3>
                                <p>{{ room.cellular.primary|default('-') }}</p>
                            </span>
                        </div>
                        <div>
                            <span class="icons">
                                <i class="fa-solid fa-cash-register"></i>
                            </span>
                            <span>
                                <h3>Téléphone 2</h3>
                                <p>{{ room.cellular.secondary|default('-') }}</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="safety-advice">
                    <h2>Conseils de sécurité</h2>
                    <ul>
                        <li>
                            <i class="fa-solid fa-circle-check"></i>
                            <span>
                                Il est plus sûr de contacter le transporteur via la section contacter. 
                                De cette façon, nous aurons vos cordonnées et pourrons vous contacter 
                                si nous devrons suivre un comportement frauduleux .
                            </span>
                        </li>
                        <li>
                            <i class="fa-solid fa-circle-check"></i>
                            <span>
                                Rencontrez le transporteur dans un lieu public sûr .
                            </span>
                        </li>
                        <li>
                            <i class="fa-solid fa-circle-check"></i>
                            <span>
                                Renseignez vous  sur la livraison à l’arrivée avant de donner votre produit.
                            </span>
                        </li>
                        <li>
                            <i class="fa-solid fa-circle-check"></i>
                            <span>
                                Mieux vaut laisser le recepteur effectué  le paiement.
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="share">
                    <h2>Partager</h2>
                   <div class="links">
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}" class="facebook" target="_blank" rel="noopener noreferrer">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="https://twitter.com/intent/tweet?url={{ app.request.uri }}" class="twitter" target="_blank" rel="noopener noreferrer">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="whatsapp://send?text={{ app.request.uri }}" class="whatsapp" target="_blank" rel="noopener noreferrer">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                        <a href="mailto:?subject=Check%20out%20this%20link&body={{ app.request.uri }}" class="email" target="_blank" rel="noopener noreferrer">
                            <i class="fa-regular fa-envelope"></i>
                        </a>
                        <button id="copyButton">
                            <i class="fa-solid fa-link"></i>
                        </button>
                        <div id="copied-confirmation" class="hidden">
                            <p>
                                <span>Lien Copié</span>
                                <i class="fa-solid fa-check"></i>
                            </p>
                        </div>
                    </div>
                </div>
                {# <div class="report">
                    <a href="#" target="_blank" rel="noopener noreferrer">Signaler des informations incorrectes liées au transporteur</a>
                </div> #}
            </section>
            <section class="section-2">
                <div class="user-profile">
                    <div class="profile-details">
                        {% if room.user.profile %}
                            <img src="{{asset('uploads/user_profile/' ~ room.user.profile)}}" alt="User Profile Image">
                        {% else %}
                            <img src="{{asset('theme/assets/img/profil/default-user-profile.png')}}" alt="User Profile Image">
                        {% endif %}
                        <div class="user-details">
                            <h2>{{ room.user.firstName|default('-') ~ ' ' ~ room.user.lastName|default('-') }}</h2>
                            {% if app.user == room.user %}
                                <div class="rooms-created">{{ viewCount == 0 or viewCount == 1 ? viewCount ~ " vu": viewCount ~ " vus" }} </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="user-info">
                    <div class="btn-container">
                        {% set phoneNumber = room.cellular.primary|replace({ '+': '' }) %}
                        {% set whatsappUrl = 'https://api.whatsapp.com/send?phone=' ~ phoneNumber %}
                        {% set messageText = 'Salut, je suis intéressé par votre annonce : ' ~ app.request.uri %}
                       <a id="start-chat" href="{{ whatsappUrl }}&text={{ messageText|url_encode }}"  target="_blank" rel="noopener noreferrer">Contacter </a>
                    </div>
                </div>
            </section>
       </div>
    </div>
</main>
{% endblock %}
