{% extends 'gp-tracker/base.html.twig' %}

{% block title %}
   Annonces
{% endblock %}

{% block body %}
<main>
    <div class="container gp-rooms">
        {% form_theme searchForm 'gp-tracker/form/room_creation_form.html.twig' %}

        {{ form_start(searchForm, {'attr': {'class': 'search', 'id': 'search-form'} }) }}
            <div class="form-container">
                <div class="form-group">
                    <div class="input-container">
                        <i class="fa-solid fa-plane-departure"></i>
                        {{ form_row(searchForm.departureLocation, {
                            'attr': {
                                    'list': 'departure-location-list'
                                }
                        }) }}
                        <datalist id="departure-location-list">
                            {% for city in cities %}
                                <option value="{{ city.name }}"></option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="switcher">
                        <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    </div>
                    <div class="input-container">
                        <i class="fa-solid fa-plane-arrival"></i>
                        {{ form_row(searchForm.arrivalLocation, {
                            'attr': {
                                    'list': 'arrival-location-list'
                                }
                        }) }}
                        <datalist id="arrival-location-list">
                            {% for city in cities %}
                                <option value="{{ city.name }}"></option>
                            {% endfor %}
                        </datalist>
                    </div>
                </div>
                <div class="form-group input-type-date">
                    <div class="input-container">
                        <div class="buttons">
                            <button id="increment-start-date">
                                <i class="fa-solid fa-chevron-left"></i>
                            </button>
                            <button id="decrement-start-date">
                                <i class="fa-solid fa-chevron-right"></i>
                            </button>
                        </div>
                        {{ form_row(searchForm.minDate, {
                            'id': 'start-date'
                        }) }}
                    </div>
                    <div class="divider"></div>
                    <div class="input-container">
                        <div class="buttons">
                            <button type="button" id="increment-end-date">
                                <i class="fa-solid fa-chevron-left"></i>
                            </button>
                            <button type="button" id="decrement-end-date">
                                <i class="fa-solid fa-chevron-right"></i>
                            </button>
                        </div>
                        {{ form_row(searchForm.maxDate, {
                            'id': 'end-date'
                        }) }}
                    </div>
                </div>
                <button type="submit">
                    <span>Rechercher</span>
                    <i class="fa-solid fa-magnifying-glass"></i>    
                </button>
            </div>
        {{ form_end(searchForm, {'render_rest': false}) }}

        <section class="content">
            <div class=""></div>
            <div class="rooms" id="room-list-container">
                <div class="actions">
                    {% form_theme sortForm 'gp-tracker/form/room_creation_form.html.twig' %}
                    {{ form_start(sortForm, {'attr': {'id' : 'sort-form','class': 'select-filter'} }) }}
                        {{ form_row(sortForm.sort, {
                            'id': 'filter-select'
                        }) }}
                    {{ form_end(sortForm, {'render_rest': false}) }}
                    <a href="{{ path('app_room_creation') }}" class="create-room">
                        <i class="fa-solid fa-house"></i>
                        <span>Créer Salon</span>
                    </a>
                </div>
                {% include 'gp-tracker/layout/_rooms.html.twig' %}
                <div class="navigation">
                    {{knp_pagination_render(rooms)}}
                </div>
            </div>
            <div class="">
                
            </div>
        </section>
        
    </div>
</main>
{% endblock %}
